/**
 * The purpose of this file is to make it easier to fix all pages when they break.
 */
img#redirect-image, img#redirect-image-black, img#redirect-image-white {
  background-color: transparent;
  margin: 0 auto;
  box-shadow: none;
  max-width: 10em;
}

main {
  max-width: none;
  width: 100vw;
}

h1#redirect-h1 {
  margin-top: 3rem;
}

/* Light mode icon */
@media (prefers-color-scheme: light) {
  /* Specify the path to the light mode icon */
  /* For example */
  link[rel=icon] {
    /* Your light mode icon path */
    /* Example: */
    href: "/assets/images/icons/redirect/black.svg";
  }
}
/* Dark mode icon */
@media (prefers-color-scheme: dark) {
  /* Specify the path to the dark mode icon */
  /* For example */
  link[rel=icon] {
    /* Your dark mode icon path */
    /* Example: */
    href: "/assets/images/icons/redirect/white.svg";
  }
}