@import url("/assets/style/css/base-style.min.css");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    background-color: var(--main-background-color) !important;

    aside {
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: var(--content-width);
        max-width: var(--max-content-width);
    }

    header#header-section, footer { // follow content rules
        width: var(--content-width);
        max-width: var(--max-content-width);
        margin-left: auto; margin-right: auto;
    }
    
    header#header-section {
        height: fit-content;

        & > *{
            width: 100% !important;
            max-width: none;
        }
    }
    
    & > ul, table, pre {
        margin-left: auto;
        margin-right: auto;
        width: var(--content-width);
        max-width: var(--max-content-width);
    }

    ul, table#index-list {
        padding:25px 0;    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
        grid-gap: 10px; /* Adjust gap between elements */
    
        li {
            height: fit-content;
    
            &#go-back-link {
                grid-column: 1 / -1;
                border: none;
                background-color: transparent;
                color: var(--accent-color);
                margin-bottom: 0.5em;

                a {
                    color: var(--accent-color);
                    width: fit-content;
                    background-color: transparent;
                    border-color: transparent;
                    margin-inline: auto;
                    
                    &:hover {
                        background-color: transparent;
                        color: var(--accent-color);
                        text-decoration: underline;
                    }
                }
            }
    
            a {
                color: var(--accent-color);
                background-color: var(--layer-0-background-color);
                border-color: var(--accent-color);
                border-radius: var(--border-radius);
                border-width: var(--border-width);
                border-style: solid;

                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                text-transform: capitalize;
                padding: 5px;
                
                &:hover {
                    color: var(--layer-0-background-color);
                    background-color: var(--accent-color);
                    border-color: var(--layer-0-background-color);
                }

                * { color: inherit; }
            }
        }
    }   

    footer {
        height: max-content;
        padding: 2rem;
        padding-bottom: 10vh;
        width: 100%;
    
        & > * {
            width: var(--content-width);
            max-width: var(--max-content-width);
        }

        p {
            margin-top: 0;
            text-align: center;
    
            span {
                display: inline-block;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    footer {
        p {
            span.mid-dot {
                visibility: hidden;
            }
            span.own-line {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    footer {
        p {
            span.mid-dot-two {
                visibility: hidden;
            }
            span.own-line-two {
                display: block;
            }
        }
    }
}
