/**
 * The purpose of this file is to make it easier to fix all pages when they break.
 */

img#redirect-image, img#redirect-image-black, img#redirect-image-white {
    background-color: transparent;
    margin: 0 auto;
    box-shadow: none; 
    max-width: 10em;
}

main {
    max-width: none;
    width: 100vw;
}

h1#redirect-h1 {
    margin-top: 3rem;
}

