@import "tailwindcss";

:root {
  --accent-color: #A155B5;
  --main-background-color: #FBF8FC;
  --title-color: #03030e;
  --main-text-color: #707070;
  --shadow-color: #343C3F;
  --border-color: #707070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #C979DD;
    --main-background-color: #14181B;
    --title-color: #fcf7fe;
    --main-text-color: #909090;
    --shadow-color: #b7b7b8;
    --border-color: #909090;
  }
}

:root {
  --tw-shadow-color: var(--shadow-color);
}

html, body {
  background-color: var(--main-background-color);
  border-color: var(--border-color);
  color: var(--main-text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
}
