---
import Base from '../layouts/base.astro';
---

<Base title="404 - Not Found">
  <div class="text-center">
    <h1>404: Page not found</h1>
    <p>Page not found. I recommend going <a href="/">home</a>.</p>
  </div>
</Base>
