---
const currentYear = new Date().getFullYear();
---

<footer class="content-width pt-10">
  <p class="text-center text-text">
    <span>Copyright &copy; 2023-{currentYear}</span>
    <span class="mx-2">&middot;</span>
    <span>Tygo&nbsp;van&nbsp;den&nbsp;Hurk</span>
    <span class="mx-2 hidden sm:inline">&middot;</span>
    <span class="block sm:inline">All&nbsp;rights&nbsp;reserved</span>
  </p>
</footer>
