---
import '../styles/global.css';
import arrow from '../assets/redirect.responsive.svg'

/** The properties each page must have. */
export interface Props {
  /** The description of the page. */
  description?: string;
  /** The title of the page. */
  title?: string;
}

const {
  title = "Redirection Station | Tygo van den Hurk",
  description = "Select your destination! from here, you can select any place you'd like to go! And you're be redirected there!!",
  class: classNames = "",
  ...rest
} = Astro.props as Props & astroHTML.JSX.HtmlHTMLAttributes;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="darkreader-lock" />
    <meta name="author" content="Tygo van den Hurk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href={arrow.src} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <slot name="head" />
  </head>
  <body class=`bg-background-0 w-screen h-screen flex items-center justify-center flex-col ${classNames ?? ''}` ..rest>
    <slot />
  </body>
</html>
